:root {

    --transparent-dark: #3b3e499f;
    --transparent-light: #5e616a75;
    --main-color: #183A1D;
    --border-color: #80808038;

    /* DEFAULT FONT SIZE == 16px */
}

@font-face {
    font-family: Kufi;
    src: url("/static/fonts/Kufi/kufi.ttf") format("opentype");
}

@font-face {
    font-family: Markazi;
    src: url("/static/fonts/Markazi_Text/MarkaziText-Medium.ttf") format("opentype");
}

@font-face {
    font-family: Monoton;
    src: url("/static/fonts/Monoton/Monoton-Regular.ttf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Kufi !important;
}

html {
    overflow-x: hidden;
    overflow-y: overlay;
    font-size: 16px;
    font-weight: 600;
}

* {
    list-style: none;
    outline: none !important;
    margin: 0;
    padding: 0;
}


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HOVER UNDERLINE ANIMATION START */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--main-color);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* HOVER UNDERLINE ANIMATION END */


/* ////////////////// INPUT AUTOFILL BACKGROUND COLOR ( TRANSPARENT DOES NOT WORK ) ////////////////// */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #8080802d inset !important;
}


/* ////////////////// SCROLLBAR [ START ] ////////////////// */

::-webkit-scrollbar {
    width: 0.44rem !important;
    /* cursor: pointer;  DOES NOT WORK */
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(128, 128, 128, 0.404) !important;
}

/* ////////////////// SCROLLBAR [ END ] ////////////////// */

label {
    cursor: pointer;
}

.checked {
    border: none;
    background-color: green;
}

.unchecked {
    border-radius: 3px;
    background-color: #ffffff44;
}

span {
    cursor: default;
}

input,
textarea {
    direction: rtl !important;
}

input {
    margin: 10px 0;
    text-align: center;
    width: 250px;
    transition: 0.3s;
    padding: 15px 0;
    border: solid 1px #ffffff8e;
    background-color: transparent;
}

/* input:hover {
    width: 260px;
} */

button {
    /* font-size: larger; */
}

a {
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

/* shortcuts */

.box-shadow {
    box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.42);
}

/* alert */

.alert {
    height: 50px !important;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
}

.alert button {
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: solid 1px;
    border-color: gray;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

/* ALERT END /////////// */

.dn {
    display: none !important;
}

.spaceB {
    margin: 0 3px;
}

/* BACKGROUND START */

.bg_none {
    background-color: transparent !important;
}

.bg_green {
    background-color: #6AA641 !important;
    color: white;
}
.bg_red {
    background-color: red !important;
    color: white;
}

/* BACKGROUND END */

/* BORDER START */

.bred {
    border: red solid 1px;
}

.byellow {
    border: yellow solid 1px;
}

.bgreen {
    border: green solid 1px;
}

.bblue {
    border: blue solid 1px;
}

.bpurple {
    border: purple solid 1px;
}

/* BORDER END */

.wh100 {
    width: 100% !important;
    height: 100% !important;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

/* POSITIONING [ START ] */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom_center {
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/* FLEX [ COLUMN ] */

.flex-c-c-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-c-c-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.flex-c-c-fe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flex-c-c-fs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* FLEX [ ROW ] */

.flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c-se {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-c-fs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-c-fe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* POSITIONING [ END ] */


/* BTN START */

/* clicked effect */
a,
button,
input[type='submit'] {
    /* right/ bottom/  */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

a:active,
button:active,
input[type='submit']:active {
    box-shadow: 0 5px rgba(128, 128, 128, 0.349);
    transform: translateY(2px);
}

.btn {
    border: none;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 15px !important;
    text-align: center;
    cursor: pointer;
    padding: 25px;
    /* margin: 0 10px; */
    display: flex;
    place-items: center;
    place-content: center;
    white-space: nowrap;
}

.green_btn {
    background-color: green;
}

.red_btn {
    background-color: #fd4744b2;
}

.trans_btn {
    border: #ffffff7c solid 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.123);
}

.blue_btn {
    background-color: #0985e3dc;
}

.green_btn:hover {
    background-color: rgba(0, 128, 0, 0.685);
}

.blue_btn:hover {
    background-color: #0985e3b7;
}

.logout:hover {
    background-color: #f0322f86 !important;
    border: transparent solid 1px;
}

.trans_btn:hover {
    background-color: rgba(255, 255, 255, 0.226);
}

/* BTN END //////////////// */


@media print {
    body {
        background-image: none;
        width: 100% !important;
        height: 100% !important;
    }

    .noprint {
        visibility: hidden !important;
        display: none !important;
    }

    .print {
        display: flex !important;
    }
}